.align-left {
	text-align: start;
}
.white {
	color: #fff;
}
.bold {
	font-weight: bold;
}

.title-cs {
	margin-bottom: 20px;
}
.jumbotron-fluid {
	margin-top: 20px;
	margin-left: 224px;
}
.container {
	width: 96%;
	padding-top: 20px;
	background: #fff;
}
.title-icon {
	margin-right: 10px;
}
.sidebar-icon-i {
	font-size: 2rem;
	margin-right: 10px;
}
.hr {
	margin-left: 1rem;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 1rem;
	border: 0;
	border-top: 1px solid #eee;
}
.select-nav-link-to:hover {
	color: #fff;
}
.table.table-reflow {
	width: 92%;
	margin-top: 1.5rem;
}
